.table {
  width: 100%;
}

.table > caption {
  margin: 10px 0px;
}

.table > thead {
  margin: 10px 0px;
}

.table > thead th {
  height: 30px;
  text-align: center;
  border: 1px solid black;
  background-color: cadetblue;
}

.table > tbody {
  margin: 10px 0px;
}

.table > tbody tr:nth-child(even) {
  background-color: darkgray;
}

.table > tbody td {
  border: 1px solid black;
}
